body {
    margin: 38px auto;
    width: 1191px;
}

.top_header__logo__p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    display: inline;
    padding: 0 10px;
}

.top_header__logo {
    padding: 5px 5px;
    width: 109px;
    height: 32px;
    border: 2px solid #000000;
    border-radius: 8px;
    display: inline;
}

.top_header__navigation {
    display: block;
    margin: 0 auto;
    width: 446px;
    height: 24px;
}

.top_header__navigation__a {
    display: inline;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin: 10px;
}

.top_header {
    width: 1191px;
}

.header_programmer {
    display: block;
    width: 110px;
    height: 110px;
    float: right;
    border-style: solid;
    border-radius: 50%;
    border-color: #F1F1F1;
    background-color: #F1F1F1;
}

.header_programmer__emoji {
    width: 110px;
    height: 110px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 110px;
    text-align: center;
}

.header_text {
    width: auto;
    height: 442px;
}

.header_text__main {
    display: block;
    width: 804px;
    height: 128px;
    margin: 50px auto;
    padding: 50px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 64px;
    text-align: center;
    color: #181818;
}

.header_text__second {
    display: block;
    margin: 0 auto;
    width: 484px;
    height: 48px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.header_button {
    width: auto;
    height: 80px;
    margin: 50px auto;
    text-align: center;
}

.header_button__black {
    margin: 0 5px;
    display: inline;
    padding: 15px 24px 17px;
    width: 215px;
    height: 56px;
    background: #181818;
    border-radius: 8px;
    border-color:black;
    border-style:solid;
}

.header_button__black:hover{
    margin: 0 5px;
    display: inline;
    padding: 15px 24px 17px;
    width: 215px;
    height: 56px;
    background: #181818;
    border-radius: 8px;
    opacity: 50%;
    transition: 0.1s;
    border-color:black;
    border-style:solid;
}

.header_button__black a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

.header_button__white {
    margin: 0 5px;
    display: inline;
    padding: 15px 24px 17px;
    width: 215px;
    height: 56px;
    border-style: solid;
    border-color: black;
    border-radius: 8px;
}

.header_button__white:hover {
    margin: 0 5px;
    display: inline;
    padding: 15px 24px 17px;
    width: 215px;
    height: 56px;
    border-style: solid;
    border-color: black;
    border-radius: 8px;
    opacity: 50%;
    transition: 0.1s;
}

.header_button__white a {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #181818;
    text-decoration: none;
}

.header_dialog_emoji {
    display: inline;
    width: 28px;
    height: 30px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 24px;
    color: #000000;
    border-style: solid;
    border-radius: 50%;
    border-color: #F1F1F1;
    background-color: #F1F1F1;
    border-width: 20px;
}

.header_zip {
    display: block;
    width: 40px;
    height: 40px;
    float: right;
}

.header_zip__emoji {
    width: 40px;
    height: 40px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 110px;
    text-align: center;
    border-style: solid;
    border-radius: 50%;
    border-color: #F1F1F1;
    background-color: #F1F1F1;
}

.portfolio {
    display: block;
}

.portfolio_button {
    width: auto;
    height: 80px;
    margin: 50px auto;
    text-align: center;
}

.portfolio_button__black {
    margin: 0 5px;
    display: inline;
    padding: 15px 24px 17px;
    width: 215px;
    height: 56px;
    background: #181818;
    border-radius: 10000px;
    border-color:black;
    border-style:solid;
}

.portfolio_button__black:hover{
    margin: 0 5px;
    display: inline;
    padding: 15px 24px 17px;
    width: 215px;
    height: 56px;
    background: #181818;
    border-radius: 10000px;
    opacity: 50%;
    transition: 0.1s;
    border-color:black;
    border-style:solid;
}

.portfolio_button__black a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}
.portfolio_button__white {
    margin: 0 5px;
    display: inline;
    margin: 0 5px;
    display: inline;
    padding: 15px 24px 17px;
    width: 215px;
    height: 56px;
    border-style: solid;
    border-color: black;
    border-radius: 10000px;
}

.portfolio_button__white:hover {
    margin: 0 5px;
    display: inline;
    margin: 0 5px;
    display: inline;
    padding: 15px 24px 17px;
    width: 215px;
    height: 56px;
    border-style: solid;
    border-color: black;
    border-radius: 10000px;
    opacity: 50%;
    transition: 0.1s;
}

.portfolio_button__white a {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #181818;
    text-decoration: none;
}

.portfolio_photo__big{
    display:block;
    width: 1160px;
    margin: 20px auto;
    border: 1px solid #DBDBDB;
    border-radius: 20px;
}

.container_for_small_photos{
    margin: 50px auto;
    text-align: center;
}

.portfolio_photo__small {
    display: inline;
    margin: 0 10px;
    width: 560px;
    height: 400px;
    border: 1px solid #DBDBDB;
    border-radius: 20px;
}

.about_me {
    display: block;
    margin: 0 auto;
    width: 997px;
    height: 560px;
}

.about_me__photo {
    display: inline;
    width: 400px;
    height: 560px;
}

.about_me__main {
    width: 550px;
    margin-right: 5px;
    padding: 10px 10px;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.about_me__topic {
    width: 550px;
    margin-right: 5px;
    padding: 10px 10px;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 64px;
}

.about_me__text {
    display: block;
    float: right;
}
.about_me__achivments {
    width: auto;
    height: 80px;
    margin: 50px auto;
}
.about_me__achivments__example {
    display: inline;
    width: auto;
    height: 80px;
    margin: 50px auto;
    text-align: center;
}
.about_me__achivments__example__big {
    width: auto;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
}
.about_me__achivments__example__small {
    width: auto;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.service{
    display: block;
    position: absolute;
    width: 100%;
    height: 768px;
    left: 0px;
    background: #181818;
    margin: 10px 0px;
    padding: 0%;
}

.service__header {
    width: 156px;
    height: 64px;
}
.service__header__topic {
    margin: 170px;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #FFFFFF;
}

.service__note {
    margin: 0 auto;
    text-align: center;
    display: block;
    padding: 70px;
    width: 1160px;
    height: 384px;
    margin: 0 auto;
    text-align: center;
}

.service__note_example {
    margin: 0 20px;
    display: inline;
    width: 368px;
    padding: 100px;
    background: #FFFFFF;
    border-radius: 14px;
}

.service__note_example a {
    text-align: center;
}

.cost__type {
    position: absolute;
    width: 448px;
    height: 368px;
    left: 35%;
    top: 5000px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
}

.cost__type_bold {
    margin: 40px auto;
    border-style:solid;
    border-color: #DBDBDB;
    border-width:2px;
    border-radius: 8px;
    width: 400px;
    height: 48px;
}

.cost__type_bold_text {
    width: 89px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
}

.cost__type_tiny {
    margin: 50px auto;
    border-style:solid;
    border-color: #DBDBDB;
    border-width:2px;
    border-radius: 8px;
    width: 400px;
    height: 48px;
}

.cost__type_tiny_text{
    width: 89px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
}

.cost__type input {
    margin-left: 100px;
}

.cost__type_checkbox_text{
    width: 331px;
    height: 48px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #181818;
}

.cost__type_button {
    width: 175px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin: 0 150px;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    border-width: 3px;
}

.cost__result {
    padding: 12px 16px;
position: absolute;
height: 300px;
left: 37%;
right: 37%;
top: 5370px;
border: 1px solid #DBDBDB;
border-radius: 8px;
}

.cost__result_textbox {
    width: 318px;
    height: 64px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 64px;
    letter-spacing: -0.02em;
    color: #181818;
}

.cost__result_cost {
    padding: 0px;
    width: 120px;
    height: 48px;
    margin: 30px 10px;
}

.cost__result_cost_text {
    width: 83px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #181818;
}

.cost__result_cost_value {
    width: 120px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181818;
}

.cost__result_datetime {
    padding: 0px;
    width: 161px;
    height: 48px;
    margin: 30px 10px;
}

.cost__result_datetime_text {
    width: 141px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #181818;
}

.cost__result_datetime_value {
    width: 161px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181818;
}

.cost__result_buttonbox {
    padding: 15px 24px 17px;
width: 310px;
height: 16px;
background: #181818;
border-radius: 8px;
}

.cost__result_buttonbox_text {
    width: 135px;
    margin: 0 90px;
height: 24px;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
}

.qa {
    position: absolute;
    padding: 100px 0;
width: 100%;
height: 1100px;
left: 0px;
top: 5900px;
background: #181818;
}

.qa__title {
    width: 316px;
height: 64px;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 48px;
color: #FFFFFF;
margin-left: 39%;
}

.qa__answer1 {
    padding: 32px 40px;
    margin: 20px 130px;
width: 1160px;
height: 88px;
background: #FFFFFF;
border: 1px solid #CCCCCC;
border-radius: 16px;
}

.qa__answer2 {
    padding: 32px 40px;
    margin: 20px 130px;
    width: 1160px;
    height: 88px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
}

.qa__answer3 {
    padding: 32px 40px;
    margin: 20px 130px;
    width: 1160px;
    height: 88px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
}

.qa__answer4 {
    padding: 32px 40px;
    margin: 20px 130px;
    width: 1160px;
    height: 88px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
}

.qa__answer5 {
    padding: 32px 40px;
    margin: 20px 130px;
    width: 1160px;
    height: 88px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
}

.qa__answer6 {
    padding: 32px 40px;
    margin: 20px 130px;
    width: 1160px;
    height: 88px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
}

.qa__answer_text {
    width: 239px;
    height: 24px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #181818;
}

footer {
    height: 4300px;
}

.footer__title{
    position: absolute;
width: 371px;
height: 64px;
left: 39%;
top: 7500px;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 64px;
letter-spacing: -0.02em;
color: #181818;
}

.footer__subtitle {
    position: absolute;
width: 391px;
height: 24px;
left: 42%;
top: 7560px;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
color: #181818;
}

.footer__container {
    padding: 40px 24px;
position: absolute;
width: 448px;
height: 552px;
left: 34%;
top: 7600px;
background: #FFFFFF;
border: 1px solid #CCCCCC;
border-radius: 16px;
}

.footer__container_input1 {
    margin: 20px 27px;
    width: 400px;
height: 48px;
background: #FFFFFF;
border: 1px solid #DBDBDB;
border-radius: 8px;
}

.footer__container_input2 {
    margin: 20px 27px;
    width: 400px;
height: 48px;
background: #FFFFFF;
border: 1px solid #DBDBDB;
border-radius: 8px;
}
.footer__container_input3 {
    margin: 20px 27px;
    width: 400px;
height: 48px;
background: #FFFFFF;
border: 1px solid #DBDBDB;
border-radius: 8px;
}
.footer__container_input4 {
    margin: 20px 27px;
    width: 400px;
height: 200px;
background: #FFFFFF;
border: 1px solid #DBDBDB;
border-radius: 8px;
}

.footer__container_text {
    width: 33px;
height: 24px;
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #808080;
}

.footer__container_button {
    padding: 15px 24px 17px;
width: 400px;
height: 56px;
background: #181818;
border-radius: 8px;
}

.footer__container_button_text {
    width: 178px;
    margin-left: 110px;
height: 24px;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
}